.country-details-container {
    display: flex;
    padding: 50px 0 0 80px;
  }
  
  img {
    width: 500px;
    height: 300px;
  }
  
  .name {
    font-family: var(--font-family);
    font-weight: 800;
    color: var(--text-color);
    padding-left: 100px;
  }
  
  .country-details-info {
    display: flex;
    padding: 20px 0 0 100px;
  }
  
  .country-details-info-left div {
    padding: 8px 8px 8px 0;
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 16px;
  }
  
  .country-details-info-right div {
    padding: 8px 8px 8px 0;
    margin-left: 100px;
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 16px;
  }
  
  .border-countries {
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 16px;
    margin-top: 20px;
    font-weight: 600;
  }
  
  .country-details-info-bottom {
    width: 80%;
    display: inline-block;
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 16px;
    margin-left: 100px;
  }
  
  .border-btn-container {
    display: inline-block;
    padding: 10px 10px 0 0px;
  }
  
  @media only screen and (max-width: 600px) {
    .country-details-container {
      width: 100%;
      padding: 0;
      margin: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .country-details-image {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  
    img {
      width: 450px;
      height: 300px;
    }
  
    .main {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 105%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      margin-top: 140px;
      padding-left: 28px;
    }
  
    .name {
      padding-left: 0;
      font-size: 20px;
    }
  
    .country-details-info {
      flex-direction: column;
      padding: 0;
    }
  
    .country-details-info-right div {
      margin-left: 0;
    }
  
    .border-countries {
      padding: 0;
      margin-top: 30px;
      color: var(--text-color);
      font-family: var(--font-family);
      font-size: 16px;
      font-weight: 600;
    }
  
    .country-details-info-bottom {
      width: 100%;
      margin-left: 0;
      flex-direction: column;
    }
  
    .border-btn-container {
      display: inline-block;
    }
  }